.task-card {
  background:#1e293b;
  padding:12px;
  border-radius:10px;
  margin-top:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.task-card:hover{
  background:#2b3a50;
}

.pending{color:orange;}
.in_progress{color:#38bdf8;}
.done{color:#22c55e;}